<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
    <!-- Harmony styles -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/rapido.css">


</head>
<body class="{{ site.harmony.basetheme }}">
<header class="main-header">
    <div class="wc-container">
        {% include header-links.html %}
    </div>
</header>

{{ content }}
<footer class="main-footer">
    <div class="wc-container">
        <div class="column one">
            {% include footer-links.html %}
        </div>
        <div class="column two">
            {% include social.html %}
        </div>
    </div>
    <p class="wc-container disclaimer">
        {% include footer.html %}
    </p>
</footer>
<script type="text/javascript">
	/* To avoid render blocking css */
	var cb = function () {
		var l = document.createElement('link');
		l.rel = 'stylesheet';
		l.href = '{{ site.baseurl }}/assets/css/fonts/ubuntu.css';
		var h = document.getElementsByTagName('head')[0];
		h.parentNode.insertBefore(l, h);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame ||
		webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(cb);
	else window.addEventListener('load', cb);
</script>
</body>
</html>
